body {
    font-family: Arial;
    background-color: lightblue;
    text-align: center;
}

.game {
    background: white;
    width: 300px;
    margin: 100px auto;
    padding: 30px;
    border-radius: 10px;
}

input {
    padding: 10px;
    width: 80px;
}

button {
    padding: 10px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
}